<% provide(:title, 'Post Job') %>
<h1>Post Job</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@job) do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :company %>
			<%= f.text_field :company %>

			<%= f.label :location %>
			<%= f.text_field :location %>

			<%= f.submit "Create new listing", class: "btn btn-large brn-primary" %>
		<% end %>
	</div>
</div>
