<!-- took out hero-unit from below class -->

<!-- outer container for main page -->
<div class="container">
	<div class="row">
		<div id="home_header_info">
    		<h1 class="center">gigheap</h1>
	  		<h2 class="center">Welcome to gigheap!</h2>
  
    		<%= link_to "Sign up", signup_path, class: "btn btn-small btn-primary" %>
		
			<!-- twitter link follows -->
  			<a href="https://twitter.com/heaptest" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @heaptest</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		
			<% if signed_in? %>
			<%= link_to "Post Job", postjob_path, class: "btn btn-small btn-primary" %>
			<% end %>
		</div>
	</div>
  	
  	<div class="row" id="info_div">
		<table>
			<tr>			
				<td>
					<div class="content_div">
  						<% @tweets.each do |t| %>
  							<li><%= auto_link(t.text) %></li>
  						<% end %>
					</div>
				</td>
				<td>
					<div class="content_div">
						<!-- <p>recent jobs</p> -->
						<% @jobs.each do |j| %>
							<li><%= j.title %></li>
						<% end %>
					</div>
				</td>
				<!--
				<div id="events_div" class="span4">
				<p>recent events</p>
				</div>
				-->
			</tr>
		</table>
	</div>

  <!-- <%= @twitter_feed %> -->  
  <!-- remove rails image
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  -->
</div>

